@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700&display=swap');
@import "fluid-margin";
@import "fluid-padding";
@import "fluid-font-size";

$Lato: 'Lato', sans-serif;

$app-container-width: 1280px;
$lg-vp-container-width: 992px;
$sm-vp-container-width: 768px;
$xs-vp-container-width: 576px;

html {
    height: 100%;
}
body {
    height: 100%;
    font-family: $Lato;
}

.section-container {
    margin: 0 auto;
    max-width: 1413px;
    padding: 0 30px;
}
.resize-img {
    max-width:100%; 
    height:auto;
    width:auto;
    max-height: 100%;
}
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
button::before,
button::after {
    background: #4A5357;
    content: '';
    position: absolute;
    z-index: -1;
}
button:hover {
    color: #B6D65C !important;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline : none;
    display: inline-block;
}
.header {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    &__logo:hover {
        transform: scale(1.1);
    }
    &__links {
        display: flex;
        align-items: center;
        @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
            display: none;
        }
    }
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;

        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 10px 0;
        color: #fff;

        color: #292929;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #B6D65C;
            transform: scaleX(0);
            transform-origin: bottom left;
    
            transition: transform 0.3s;
        }
    
        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }
    &__link:not(:first-child) {
        @include fluid-margin('left', 30px, 70px, 100px, 1440px);
    }
    &__buttons {
        display: flex;
        align-items: center;
        @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
            display: none;
        }
        &-sign-in {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;

            color: #000000;
            margin-right: 35px;
            display: inline-block;
            cursor: pointer;
        }
        &-start-trial {
            background: none;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            @include fluid-font-size(15px, 20px, 100px, 1440px);
            line-height: 25px;
            padding: 13px 50px;
            position: relative;
            &::before {
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }
            &::after {
                background: #01996D;
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }
            &:hover:after {
                height: 0;
                left: 50%;
                top: 50%;
                width: 0;
            }
        }
    }
}
.section-under-header {
    position: relative;
    z-index: 1;
    height: calc(100vh - 85px);
    background: url(/img/BG.png) #FAF7FF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    position: relative;
    z-index: 1;

    .under-header {
        display: flex;
        align-items: center;
        &__text {
            max-width: 440px;
            @include fluid-padding('top', 70px, 175px, 100px, 1500px);
            &__title {
                font-style: normal;
                font-weight: bold;
                @include fluid-font-size(30px, 65px, 100px, 1440px);
                line-height: 74px;

                color: #01996D;
            }
            &__subtext {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                @include fluid-font-size(15px, 20px, 100px, 1440px);
                line-height: 31px;

                color: #484848;
            }
            &__button {
                background: none;
                border: 1px solid #fff;
                border-radius: 5px;
                color: #fff;
                display: block;
                font-style: normal;
                font-weight: normal;
                @include fluid-font-size(15px, 20px, 100px, 1440px);
                line-height: 25px;
                @include fluid-padding('top', 15px, 20px, 100px, 1440px);
                @include fluid-padding('bottom', 15px, 20px, 100px, 1440px);
                @include fluid-padding('left', 25px, 50px, 100px, 1440px);
                @include fluid-padding('right', 25px, 50px, 100px, 1440px);
                @include fluid-margin('top', 20px, 40px, 100px, 1440px);
                position: relative;
                &::before {
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
                &::after {
                    background: #01996D;
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
                &:hover:after {
                    height: 0;
                    left: 50%;
                    top: 50%;
                    width: 0;
                }
            }
        }
    }
}
.how-it-works {
    @include fluid-padding('top', 30px, 169px, 100px, 1440px);
    &__text {
        &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 157%;

            @include fluid-font-size(20px, 24px, 100px, 1440px);

            color: #424242;
            @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
                text-align: center;
            }
        }
        &__col {
            display: flex;
            width: 100%;
            justify-content: space-between;
            @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
                max-width: 100%;
            }
            &__left {   
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 157%;

                color: #01996D;
                @include fluid-font-size(25px, 50px, 100px, 1440px);
            }
            &__right {
                display: flex;
                align-items: center;
                flex-basis: 47%;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                @include fluid-font-size(15px, 20px, 100px, 1440px);

                color: #424242;
            }
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        &__first, &__second, &__third {
            width: 390px;
            position: relative;
            @media (min-width: $lg-vp-container-width) and (max-width: 1300px) {
                padding: 0 20px;
            }
            @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
                width: 100%;
            }
        }
        &__first__title, &__second__title, &__third__title {
            position: relative;
            @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
                text-align: center;
            }
        }
        &__first__img, &__second__img, &__third__img {
            display: flex;
            justify-content: center;
        }
        &__first__img:hover {
            transform: scaleX(1.1);
        }
        &__second__img:hover {
            transform: scaleX(1.1);
        }
        &__third__img:hover {
            transform: scale(1.1);
        }
        &__title {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 150px;
            line-height: 150%;
            @include fluid-font-size(75px, 150px, 100px, 1440px);

            color: rgba(1, 153, 109, 0.2);
        }
        &__text {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            @include fluid-font-size(15px, 20px, 100px, 1440px);

            color: #424242;
            padding-bottom: 37px;
        }
        &__subtitle {
            font-family: Georgia;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            @include fluid-font-size(25px, 30px, 100px, 1440px);
            line-height: 150%;

            color: #000000;
        }
        @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
    }
}
.container__bag {
    background: #245852;
}
.container-video {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 30px;
    @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    &__left-col {
        margin-right: 20px;
        &__title {
            font-family: Georgia;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 157%;

            color: #FFFFFF;
            @include fluid-margin('bottom', 20px, 77px, 100px, 1440px);
            @include fluid-font-size(25px, 50px, 100px, 1440px);
        }
        &__subtitle {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 157%;
            @include fluid-font-size(18px, 25px, 100px, 1440px);
            @include fluid-margin('bottom', 20px, 77px, 100px, 1440px);

            color: #FFFFFF;
        }
        &__button {
            background: none;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
            display: block;
            font-style: normal;
            font-weight: normal;
            @include fluid-font-size(15px, 20px, 100px, 1440px);
            line-height: 25px;
            @include fluid-padding('top', 15px, 20px, 100px, 1440px);
            @include fluid-padding('bottom', 15px, 20px, 100px, 1440px);
            @include fluid-padding('left', 25px, 50px, 100px, 1440px);
            @include fluid-padding('right', 25px, 50px, 100px, 1440px);
            position: relative;
            &:hover {
                border: 1px solid black;
                color: black !important;
            }
            @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
                margin-bottom: 20px;
            }
        }
        @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
            padding: 30px 20px 0 20px;
            margin-right: 0;
        }
    }
    &__right-col {
        flex-basis: 50%;
        @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
        padding-bottom: 40px;
    }
}
.container-our-product {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    @include fluid-padding('top', 30px, 120px, 100px, 1440px);
    @include fluid-padding('bottom', 32px, 80px, 100px, 1440px);
    &__position {
        position: relative;
    }
    &__img {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        @include fluid-padding('right', 30px, 86px, 100px, 1440px);
        &__card {
            position: absolute;
            bottom: -80px;
            left: -50px;
        }
        @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
            padding-right: 0;
        }
    }
    &__text {
        flex-basis: 50%;
        @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
            padding-top: 80px;
        }
        &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 157%;

            color: #424242;
        }
        &__subtitle {
            font-style: normal;
            font-weight: bold;
            @include fluid-font-size(25px, 50px, 100px, 1440px);
            line-height: 157%;

            color: #01996D;
        }
        &__description {
            font-style: normal;
            font-weight: normal;
            @include fluid-font-size(15px, 20px, 100px, 1440px);
            line-height: 31px;
            
            color: #484848;
            @include fluid-margin('top', 20px, 40px, 100px, 1440px);
        }
        &__button {
            background: none;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
            display: block;
            font-style: normal;
            font-weight: normal;
            @include fluid-font-size(15px, 20px, 100px, 1440px);
            line-height: 25px;
            @include fluid-padding('top', 15px, 20px, 100px, 1440px);
            @include fluid-padding('bottom', 15px, 20px, 100px, 1440px);
            @include fluid-padding('left', 25px, 50px, 100px, 1440px);
            @include fluid-padding('right', 25px, 50px, 100px, 1440px);
            @include fluid-margin('top', 20px, 40px, 100px, 1440px);
            position: relative;
            &::before {
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }
            &::after {
                background: #01996D;
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }
            &:hover:after {
                height: 0;
                left: 50%;
                top: 50%;
                width: 0;
            }
        }
    }
    @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
        flex-direction: column;
    }
}